body{
    align-items: start;
}

nav{
    height:100vh;
    overflow-y:scroll;
    background: #f5efefcc;
}

@media(max-width:990px){
    nav{
        height:max-content
    }
}


.active > a.nav-link{
    color:white !important;

}