@import url("https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --logo-font: "Waiting for the Sunrise", cursive;
  --head-font: 'Josefin Sans', sans-serif;
  --main-color: rgb(255, 69, 0);
  --color1:white;
}
/* scroll  */

/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background:var(--color1)
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  /* box-shadow: inset 5px 0px 5px rgba(78, 242, 116, 0.663),
    inset 0px 3px 3px rgba(100, 100, 100, 0.663); */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color:white;
}

body {
  overflow-x: hidden;
  font-family: var(--head-font);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width:100%;
  margin: 0px;

  background-color:  black;
}

.maincolor{
  color:var(--main-color)
}

.pointer{
  cursor: pointer;
}

.mainborder{
  border:1px solid var(--main-color);
}