
{% extends 'base/base.html' %}

{% load static %}

{% load dict_filters %}

{% block css %} 

<!-- overflow: hidden; text-overflow: ellipsis; white-space: nowrap; -->

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>

    
    .img_container{
        width:150px;
        margin-bottom: 15px;
    }

    .main_container{
        width:300px;
    }

    .img-box{
        flex-basis: 20%;  
    }

    body{
        display: block;
    }
    .nav-background{

        background-image: url("{% static 'image/banner/cn.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:150px
    }

    .main-background{

        background-color: var(--main-color);
    }

 


    .selected_color{

        padding:5px;
        border:1px solid var(--main-color);
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    
</style>
{% endblock %}

{% block main %}

{% include 'base/loader.html' %}

{% include 'base/nav.html' %}

<div class="container-fluid p-0">
    <div class="nav-background">
        
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="container-fluid my-4">
                <div class="row mb-3" >
                {% for each in products %}
                    <div class="col-lg-12 mb-3 p-2" >
                        <div class="container-fluid p-3 rounded-3" style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;">
                            <div class="row">
                                <div class="col-lg-2 col-4">
                                    <img src="{{each.connect.image.normal_image.url}}" alt="image" class="img-fluid rounded" style="width:100%;height:100px;object-fit: cover;">
                                </div>
            
                                <div class="col-lg-6 col-6">
                                    <p class="fs-4 m-0 fw-bold">{{each.connect.product.name}}</p>
                                    <p class="fs-5 m-0" style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{each.connect.product.description}}</p>
                                    
            
                                    <p class="text-success m-0">discount {{each.connect.product.discount}} %</p>
                                    <p class="amout_product m-0" > <small class="text-decoration-line-through text-danger me-2">₹ {{each.connect.product.maximum_retail_price}}</small> ₹ {{each.connect.product.price}}</p>
                                               
            
                                    
                                </div>
            
                                <div class="col-lg-4 col-6">
                                    <div class="d-flex flex-column" >
                                        <p class="m-0  fs-6 fw-normal" style=" color:#3635357a">Size: <small class="text-dark">{{each.connect.size.size}}</small></p>
                                        <p class="m-0  fs-6 fw-normal" style=" color:#3635357a">Color: <small class="text-dark"> {{each.connect.color.name}}</small></p>
                                        <p class="m-0   fs-6 fw-normal" style=" color:#3635357a">Brand: <small class="text-dark">{{each.connect.product.brand.name}}</small></p>
                                        <p class="m-0  fs-6 fw-normal" style=" color:#3635357a">Category: <small class="text-dark">{{each.connect.product.category.name}}</small></p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-6 text-center">
                                    <p class="m-0  fs-6 fw-normal" >Number of quantity on this product is <small class="text-success">{{each.quantity}}</small></p>
                                        
                                </div>
                            </div>
                        </div>

                </div>
                {% endfor %}
                <div class="col-lg-12 mb-3 p-2" >
                    <div class="p-4 rounded-3" style="box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;background-color: rgba(0, 0, 0, 0.103);">
                        <p class="m-0 text-decoration-line-through text-danger">MRP :<small class="ms-4 fs-6 fw-bold">₹ {{mrp}}</small></p>
                        <p class="m-0">Discount :<small class="ms-4 fs-6 fw-bold text-success"> {{dp}} %</small></p>
                        {% if coupon %}
                        <p class="m-0">Discount Coupon :<small class="ms-4 fs-6 fw-bold">₹ {{coupon}}</small></p>
                        {% endif %}
                        <p class="m-0">Total :<small class="ms-4 fs-5 fw-bold text-success">₹ {{total_amount}}</small></p>
                        <p class="text-success m-0"> Delivary Free</p>
                        <p class=" m-0"> You can expect the delivery with in 7 days..</p>
                    </div>
                </div>
                </div>

                

            </div>
        </div>
        <div class="col-lg-6 mt-5">


            <form  method="post"  class="p-3 rounded-3" style="background-color: rgba(0, 0, 0, 0.103);">
                {% csrf_token %}
                <p  class="my-4 text-decoration-underline">ADDRESS</p>
                <div class="container-fluid">
                    <div class="row bg-light rounded-3">
                        
                            {% if address %}
                            {% for ism in address %}
                            <div class="col-lg-6">
                                <div class="form-check d-flex align-items-center p-3" style="gap:20px;">
                                    {% if ism.primary_address %}
                                    <input class="form-check-input" name="address" type="radio" value="{{ism.id}}" id="add{{forloop.counter}}" checked>
                                    {% else %}
                                    <input class="form-check-input"  name="address" type="radio" value="{{ism.id}}" id="add{{forloop.counter}}">
                                    {% endif %}
                                    <label class="form-check-label" for="add{{forloop.counter}}" style="width:80%">
                                    <div>
                                            <p class="m-0" style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ism.village}} , {{ism.city}}</p>
                                            <p class="m-0" style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ism.district}}</p>
                                            <p class="m-0" style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Pincode :{{ism.pincode}}</p>
                                            <p class="m-0" style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ism.first_phone_number}}</p>
                                            {% if ism.second_phone_number %}
                                            <p class="m-0">{{ism.second_phone_number}}</p>
                                            {% endif %}

                                            {% if ism.landmark %}
                                            <p class="m-0">{{ism.landmark}}</p>
                                            {% endif %}

                                            <a href="{% url 'Ecom:addressupdate' pk=ism.id %}?next={% url 'Ecom:checkout' %}" class="btn p-1 btn-outline-dark mt-3" style="font-size: 13px;">UPDATE</a>

                                    </div>
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                            
                            {% endif %}
                        
                    </div>
                </div>
                

                <a href="{% url 'Ecom:addaddress' %}?next={% url 'Ecom:checkout' %}" class="btn mt-3 btn-outline-dark" style="font-size: 13px;">ADD ADDRESS</a>

                <p  class="my-4">payment method</p>

                <select class="form-select  shadow-none form-select-lg mb-3 fs-6" id = "payment_method_select" name="payment_method" aria-label=".form-select-lg example" style="width: max-content;">
                    <option value="1" selected>Cash On Delivery</option>
                    <option value="2" >online</option>
                    <option value="3" >Wallet</option>
                </select>
                <div class="text-center my-5">
                    <input type="submit" id="place_order_button" value="PLACE ORDER" class="btn btn-outline-dark ">

                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}



<!-- script for scroll -->
<script src="{% static 'js/navscroll.js' %}"></script>

<!-- loader  -->
<script src="{% static 'js/loader.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    axios.defaults.xsrfCookieName = "csrftoken"

    let payment_method_select = document.getElementById('payment_method_select')

    let place_order_button = document.getElementById('place_order_button')


    let amount = parseInt('{{total_amount}}');

    // let open_path__online_payment = ()=>{
    //     place_order_button.disabled = true
    // }

    // let payment_success = ()=>{
    //     place_order_button.disabled = false
    // }

    // let close_path__online_payment = ()=>{
    //     place_order_button.disabled = false
    //     razerpay_button.classList.add('visually-hidden')
    // }

    // let disable_all_option = ()=>{

    //     const options = payment_method_select.options;
    //     for (let i = 0; i < options.length; i++) {
    //         if (options[i].value !== selectedValue) {
    //         options[i].disabled = true;
    //         } else {
    //         options[i].disabled = false;
    //         }
    //     }
    // }

    // payment_method_select.addEventListener('change',(e)=>{

    //     const selectedValue = event.target.value;

    //     if (selectedValue === '2'){

    //         open_path__online_payment()
    //     }
    //     else{
    //         close_path__online_payment()
    //     }
    // })

    place_order_button.addEventListener('click' ,(e)=>{

        e.preventDefault();

        let submitForm  = new FormData()
        const selectedRadio = document.querySelector('input[name="address"]:checked');

        submitForm.append('address' ,selectedRadio.value)
        submitForm.append('payment_method' , payment_method_select.value)

        if (payment_method_select.value === '2'){


        let formData = new FormData()
        formData.append('amount' , amount);

        axios.post('{% url "Ecom:getrazerpayid" %}' , formData)

        .then(function(res){
            if (res.data.success){


                var options = {
                    "key": "rzp_test_hjG9C59EJBeKxG", // Enter the Key ID generated from the Dashboard
                    "amount": res.data.order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                    "currency": "INR",
                    "name": "Nivya",
                    "description": "Transaction to Wallet",
                    "image": "{% static 'default/logo.png' %}",
                    "order_id": res.data.order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        let paymentData = {
                            razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_order_id: response.razorpay_order_id,
                            razorpay_signature: response.razorpay_signature
                        };

                        let formData = new FormData()
                        formData.append('razorpay_payment_id' ,response.razorpay_payment_id )
                        formData.append('razorpay_order_id' ,response.razorpay_order_id )
                        formData.append('razorpay_signature' ,response.razorpay_signature )

                        axios.post('{% url "Ecom:razerpayformhandler" %}', formData)
                            .then(function(response) {
                                // Handle the response from the server
                                if (response.data.success) {
                                    Swal.fire(
                                        'payment success',
                                        'amount added to wallet',
                                        'success'
                                    ).then((result) => {
                                        
                                        axios.post('{% url "Ecom:checkout" %}',submitForm)

                                        .then(function(res){

                                            if (res.data.success){
                                                Swal.fire(
                                                        'Order Placed',
                                                        'Order confrimation has been send to your email',
                                                        'success'
                                                    ).then((result) => {
                                                        window.location.href = '/ordersuccess/' + res.data.pk;
                                                    });
                                            }
                                            else{
                                                Swal.fire(
                                                        'Order not Placed',
                                                        'try after some time',
                                                        'error'
                                                    )
                                            }
                                        })
                                        .catch(function(error){

                                            console.error(error)
                                        })
                                        
                                    });
                                } else {
                                    Swal.fire(
                                        'payment fail',
                                        response.data.error,
                                        'error'
                                    )
                                    amount.value = '';
                                }
                            })
                            .catch(function(error) {
                                console.log(error);
                            });
                        
                    },
                    

                    "theme": {
                        "color": "#3399cc"
                    }
                };
                    var rzp1 = new Razorpay(options);
                    rzp1.open();
                    rzp1.on('payment.failed',function (response){

                            rzp1.close()
                            
                        axios.get('{% url "Ecom:piperestart" %}')
                        .then(function(res){

                            if (res.data.success){
                                const razerContainer = document.querySelector('.razorpay-container');
                                if (razerContainer) {
                                    razerContainer.remove();
                                }
                                Swal.fire(
                                'payment fail',
                                'try again later',
                                'error',
                            )
                            .then((result)=>{
                                console.log('entered');
                                window.location.href = '{% url "Ecom:cart" %}'
                            })
                           
                            }
                        })

                       
                        
                    
                            
                            
                    });
                    

            }
        })

        }


        else{

            axios.post('{% url "Ecom:checkout" %}',submitForm)

            .then(function(res){

                if (res.data.success){
                    Swal.fire(
                            'Order Placed',
                            'Order confrimation has been send to your email',
                            'success'
                        ).then((result) => {
                            window.location.href = '/ordersuccess/' + res.data.pk;
                        });
                }
                else if(res.data.error){
                    if (res.data.account){
                        Swal.fire(
                            'Order Cancelled',
                            'Add Payment to the wallet',
                            'error'
                        )
                    }
                    else if (res.data.amount){
                        Swal.fire(
                            'Order Cancelled',
                            'Insufficient Fund in wallet',
                            'error'
                        )
                    }
                }
                else{
                    Swal.fire(
                            'Order not Placed',
                            'try after some time',
                            'error'
                        )
                }
            })
            .catch(function(error){

                console.error(error)
            })
        }
    })
</script>

{% endblock %}