
{% extends 'base/base.html' %}

{% load static %}

{% load dict_filters %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>

    
    .img_container{
        width:150px;
        margin-bottom: 15px;
    }

    .main_container{
        width:300px;
    }

    .img-box{
        flex-basis: 20%;  
    }

    body{
        display: block;
    }
    .nav-background{

        background-image: url("{% static 'image/banner/cn.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:150px
    }

    .main-background{

        background-color: var(--main-color);
    }

   
    .selected_color{

        padding:5px;
        border:1px solid var(--main-color);
        border-radius: 50%;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    
</style>

<style>

    form {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
      transition: all 1s;
      width: 50%;
      min-width: 300px;
      height: 30px;
      background: white;
      box-sizing: border-box;
      /* border-radius: 25px; */
      border: 4px solid white;
      padding: 15px;
      /* border-bottom:1px solid rgba(128, 128, 128, 0.621); */
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    }
    
    input.s {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 25.5px;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: block;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
      overflow: hidden;
    }
    
    .fa {
      box-sizing: border-box;
      padding: 5px;
      width: 24.5px;
      height: 23.5px;
      position: absolute;
      top: -4px;
      right: 0;
      border-radius: 50%;
      color: #07051a;
      text-align: center;
      font-size: 14px;
      transition: all 1s;
      margin:5px;
    }
    
    form:hover,
    form:valid {

      cursor: pointer;
    }
    
   
    
    form:hover .fa,
    form:valid .fa {
      background: #07051a;
      color: white;
    }
    
    
    
    
    
    </style>
{% endblock %}

{% block main %}

{% include 'base/loader.html' %}

{% include 'base/nav.html' %}

<div class="container-fluid p-0">
    <div class="nav-background">

    </div>
</div>


<div class="container-fluid mb-3 p-3 rounded-3 position-sticky top-0 start-0" style="z-index: 300;background-color: #fff; box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;" >
    <div class="row justify-content-center align-items-center">
        
        <div class="col-12 mb-5">
    
                

                <div class="d-flex justify-content-center">
                    <a href="{% url 'Ecom:home' %}" class="btn text-light me-2" style="background-color:rgba(128, 128, 128, 0.568) ;">Home</a>
                    <a href="{% url 'Ecom:products' %}" class="btn text-light me-2" style="background-color:rgba(128, 128, 128, 0.568) ;" >Products</a>
                    <a href="#" class="btn text-light me-2" style="background-color:var(--main-color) ;">Products detail</a>
                </div>
            
        </div>
        
        <div class="col-12">
            <div>
                <form>
                    <input type="search" id="search_value" class="s" placeholder="SEARCH" required>
                    <i class="fa fa-search" id="submit_search"></i>
                </form>
            </div>
        </div>

        <script>
            const submit_search = document.getElementById('submit_search');

            submit_search.addEventListener('click' ,()=>{
                const search_value = document.getElementById('search_value')

                if (search_value.value != ''){
                    window.location = `/products?name=${search_value.value}`
                }
                
            })
        </script>
        
    </div>
</div>



<div class="container-fluid my-5">
    <div class="row p-0">
        <div class="col-lg-12 ">

            <div class="container-fluid">
                <div class="row justify-content-around align-items-start">
                   
                    <div class="col-lg-6  d-flex justify-content-around">
                        <div class="d-flex flex-column justify-content-between">
                            <style>
                                .active_img{
                                    border:1px solid var(--main-color)!important
                                }
                                .main_img{
                                    height:30rem;
                                    
                                }
                            </style>
                            <div class=" img-box text-center">
                                <img src="{{product.image.normal_image.url}}" data-active="1" id="normal_image"  style="border:1px solid rgba(128, 128, 128, 0.39);height:100px;width:100px;object-fit: cover;"  alt="normal-view" class="active_img img-zoom p-2">
                            </div>
                            <div class="p-1 img-box" >
                                <img src="{{product.image.front_image.url}}" data-active="0" id="front_image"   style="border:1px solid rgba(128, 128, 128, 0.39);height:100px;width:100px;object-fit: cover;" alt="front-view" class=" img-zoom p-2">
                            </div>
                            <div class="p-1 img-box" >
                                <img src="{{product.image.back_image.url}}" data-active="0" id="back_image"  style="border:1px solid rgba(128, 128, 128, 0.39);height:100px;width:100px;object-fit: cover;" alt="back-view" class=" img-zoom p-2">
                            </div>
                            <div class="p-1 img-box" >
                                <img src="{{product.image.side_image.url}}" data-active="0" id="side_image"  style="border:1px solid rgba(128, 128, 128, 0.39);height:100px;width:100px;object-fit: cover;" alt="side-view" class=" img-zoom p-2">
                            </div>
                        </div>

                        <div class="mb-3 " >
                            <img id="zoom_01"  src="{{product.image.normal_image.url}}" style="object-fit: contain;" alt="normal-view" class="img-fluid main_img">
                        </div>

                        
                        
                    </div>
                    <div class="col-lg-6 ">
                        <div class="container-fluid">
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <h3>{% filter upper %}{{product.product.name}}{% endfilter %}</h3>
                                    <div class="d-flex my-2">
                                        {% if product.product.rating >= 1 %}
                                        <i class="fa-solid fa-star text-warning"></i>
                                        {% else %}
                                        <i class="fa-solid fa-star text-secondary"></i>
                                        {% endif %}
                                        {% if product.product.rating >= 2 %}
                                        <i class="fa-solid fa-star text-warning"></i>
                                        {% else %}
                                        <i class="fa-solid fa-star text-secondary"></i>
                                        {% endif %}
                                        {% if product.product.rating >= 3 %}
                                        <i class="fa-solid fa-star text-warning"></i>
                                        {% else %}
                                        <i class="fa-solid fa-star text-secondary"></i>
                                        {% endif %}
                                        {% if product.product.rating >= 4 %}
                                        <i class="fa-solid fa-star text-warning"></i>
                                        {% else %}
                                        <i class="fa-solid fa-star text-secondary"></i>
                                        {% endif %}
                                        {% if product.product.rating == 5 %}
                                        <i class="fa-solid fa-star text-warning"></i>
                                        {% else %}
                                        <i class="fa-solid fa-star text-secondary"></i>
                                        {% endif %}

                                    </div>
                                    <p>{{product.product.description}}</p>
                                    
                                
                                    <p class="card-text text-secondary m-0">discount {{product.product.discount}} %</p>
                                        <p class="card-text text-success"><small class="text-danger text-decoration-line-through me-2">₹ {{product.product.maximum_retail_price}}</small> ₹ {{product.product.price}}</p>
                                    <div class="d-flex mb-2">
                                            <p class="card-text m-0 me-2 px-2 py-1 text-light rounded-2" style="background-color: #04011a6e;"> {{product.product.brand.name}}</p>
                                            <p class="card-text m-0 px-2 py-1 text-light rounded-2" style="background-color: rgb(212, 83, 8);">{{product.product.category.name}}</p>
                                    </div>
                                    
                                    <div class="d-flex  align-items-center mb-2">
                                        <div class="selected_color all_color" data-active ='True' data-image='{% url "Ecom:get_data_product" pk=product.image.id %}'>
                                            <table style="width:20px;height:20px; border-radius:50%;" bgcolor="{{product.color.name}}"></table>
                                        </div>
                                        {% for each_color in product.colors %}
                                        <div class=" ms-2 all_color" data-active ='False' data-image='{% url "Ecom:get_data_product" pk=each_color.image %}'>
                                            <table style="width:20px;height:20px; border-radius:50%;" bgcolor="{{each_color.color__name}}"></table>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex flex-column align-items-start justify-content-center mb-3">
                                        <p class="m-0 me-2">size</p>
                                        <select class="form-select form-select-lg py-1 px-2 shadow-none text-start" id="select_size" style="width:50px">
                                        {% for each_size in all_size %}

                                        {% if each_size.size == product.size.size %}
                                            {% if product.count > 0 %}
                                            <option class="size_option" value="{{product.id}}" selected>{{product.size.size}}</option>
                                            {% else %}
                                            <option class="size_option" value="{{product.id}}" disabled>{{product.size.size}}</option>
                                            {% endif %}
                                        {% elif each_size.size in product.sizes %}
                                            <option class="size_option" value="{{size_id|get_item:each_size.size}}" >{{each_size.size}}</option>
                                        {% else %}
                                            <option class="size_option" value="" disabled>{{each_size.size}}</option>
                                        {% endif %}

                                        {% endfor %}
                                        </select>
                                    </div>

                                    <div class="d-flex align-items-center mb-3" style="gap:10px">
                                        <div id="minus_button">
                                            <i class="fa-solid fa-minus p-2 rounded-3 bg-secondary text-light"></i>
                                        </div>
                                        <input type="number" value="1" name="count" id="needed_count" style="width:50px;padding:5px;text-align: center;">
                                        <div id="plus_button">
                                            <i class="fa-solid fa-plus p-2 rounded-3 bg-secondary text-light"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-4 " style="box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;background-color: rgba(233, 228, 228, 0.288);">
                                    <div class="position-relative rounded w-100 p-0 overflow-scroll" style="max-height: 350px;">
                                        <h4 style="background-color: #07051a;" class="my-2 mb-5 text-light position-sticky top-0 start-0 p-2 text-center">Comments</h4>
                                        {% if product.product.comment_product.all %}
                                        {% for review in product.product.comment_product.all %}
            
                                        <p class=" p-2 " style="box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;">{{review.comment}}</p>
            
                                        {% endfor %}
            
                                        {% else %}
                                        <p class="text-secondary ">No review..</p>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="position-relative">
                            <p class="m-0 mb-2 p-1 text-light bg-success rounded position-absolute start-0 visually-hidden" id="signal_cart_added_success" style="width:100%;bottom:-50px;">Added to cart</p>
                            <p class="m-0 mb-2 p-1 text-light bg-danger rounded position-absolute start-0 visually-hidden" id="signal_cart_added_error" style="width:100%;bottom:-50px;">try again later</p>
                            <a href="{% url 'Ecom:addcart' %}" class="btn btn-primary w-100" id="cart_button">add cart</a>

                        </div>
                    </div>
                    
                   
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<!-- script for scroll -->
<script src="{% static 'js/navscroll.js' %}"></script>

<!-- loader  -->
<script src="{% static 'js/loader.js' %}"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/2.2.3/jquery.elevatezoom.min.js" integrity="sha512-UH428GPLVbCa8xDVooDWXytY8WASfzVv3kxCvTAFkxD2vPjouf1I3+RJ2QcSckESsb7sI+gv3yhsgw9ZhM7sDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    axios.defaults.xsrfCookieName = "csrftoken"

    var active_ele = $('#zoom_01');
    active_ele.elevateZoom({
        zoomType: 'lens',
    lensShape: 'round',
    lensSize: 200
    });
    let img = document.querySelectorAll('.img-zoom')
    img.forEach(ele=>{
        ele.addEventListener('click',()=>{

            if (ele.dataset.active === '1'){
                return
            }

            let previous = document.querySelector('.img-zoom[data-active = "1"]')
            previous.dataset.active = '0'
            previous.classList.remove('active_img')
            ele.dataset.active = '1'
            ele.classList.add('active_img')
            let main_img = document.querySelector(".main_img");

            main_img.src = ele.src;
            active_ele.removeData('elevateZoom');
            active_ele.elevateZoom({
        zoomType: 'lens',
    lensShape: 'round',
    lensSize: 200
    });

            // console.log("clicked");
        })
    })

    const needed_count = document.getElementById('needed_count');
    const minus_button = document.getElementById('minus_button');
    const plus_button = document.getElementById('plus_button');
    const main_image_box = document.getElementById('zoom_01');
    const f_image = document.getElementById("front_image");
    const b_image = document.getElementById("back_image");
    const s_image = document.getElementById("side_image");
    const n_image = document.getElementById("normal_image");

    const size_option = document.querySelectorAll('.size_option');

    const cart_button = document.getElementById('cart_button');

    needed_count.addEventListener('input',(e)=>{
        if (needed_count.value >= 5){
            needed_count.value = 5;
        }
        if (needed_count.value =='' || needed_count.value==0){
            needed_count.value = 1;

        }
    })

    cart_button.addEventListener('click',(e)=>{
        e.preventDefault()
        var url = new URL(e.target.href);  
        var params = new URLSearchParams();  
        const select_size = document.getElementById('select_size');
        params.set('pk',select_size.value)
        params.set('quantity',needed_count.value)
        url.search = params.toString();
        axios.get(url.toString())
        .then(function(response){

            if (response.data.success) {
                let signal_cart_added_success = document.getElementById('signal_cart_added_success');
                signal_cart_added_success.classList.remove('visually-hidden');

                setTimeout(()=>{
                    signal_cart_added_success.classList.add('visually-hidden');
                },2000)
            }
            else{
                let signal_cart_added_error = document.getElementById('signal_cart_added_error');
                signal_cart_added_error.classList.remove('visually-hidden');

                signal_cart_added_error.innerText = response.data.error
                setTimeout(()=>{
                    signal_cart_added_error.classList.add('visually-hidden');
                },2000) 
            }
        })
        .catch(function(error){
            console.error('An error occurred:', error);
        });

       
    })

    minus_button.addEventListener('click',(e)=>{

        if (needed_count.value == 1) return;

        needed_count.value  = parseInt(needed_count.value)-1;
    })

    plus_button.addEventListener('click',(e)=>{

        if (needed_count.value == 5) return;

        needed_count.value  = parseInt(needed_count.value)+1;
    })



    const all_color  = document.querySelectorAll('.all_color');

    all_color.forEach(ele =>{

        ele.addEventListener('click' ,(e)=>{

            console.log('clicked' ,e.target );

            if (ele.dataset.active == 'True') return 

            let current_active = document.querySelector('[data-active="True"].all_color');

            current_active.dataset.active = 'False';

            current_active.classList.remove('selected_color');
            ele.dataset.active = 'True';
            ele.classList.add('selected_color');
            // console.log('hjgjhk');
            axios.get(ele.dataset.image)
            .then(function(response){
                
                if(response.data.success){
                    main_image_box.src = response.data.normal_image;
                    f_image.src = response.data.front_image;
                    s_image.src = response.data.side_image;
                    b_image.src = response.data.back_image;
                    n_image.src = response.data.normal_image;
                    active_ele.removeData('elevateZoom');
                    active_ele.elevateZoom();
                    let sizes = Object.keys(response.data.size_id);
                    size_option.forEach(ele=>{
                        if(sizes.includes(ele.innerText)){
                            ele.value = response.data.size_id[ele.innerText];
                            ele.selected  =true;
                            ele.disabled = false;

                        }
                        else{
                            ele.disabled = true
                            ele.selected  =false;
                            ele.value=''
                        }
                        
                    })
                }

                else{
                    console.log('error');
                }
            })
            .catch(function(error){
                console.log("error");
            })
        })
    })

</script>

{% endblock %}