
{% extends 'base/base.html' %}

{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<style>
    body{
        display: block;
    }
    .nav-background{

        background-image: url("{% static 'image/banner/cn.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:150px
    }

    .like_button{
        position: absolute;
        top:0px;
        right:0px;
        padding:5px;
        background: rgba(63, 61, 61, 0.274);
        margin:20px;
        border-radius:50%;
    }

    .main-background{

        background-color: var(--main-color);
    }

    ol { list-style: none;}
    .breadcrumb { width: 100%; float: left; margin: 20px 0; padding: 7px; position: relative; display: block; background: rgba(0,0,0,.05)}
    .breadcrumb ol { list-style: none;}
    .breadcrumb li { height: 30px; line-height: 30px; float: left; padding: 0 12px;}
    .breadcrumb li a { text-decoration: none;}
    .breadcrumb li .fa { width: 30px; height: 30px; line-height: 30px;}
    .breadcrumb a:hover { text-decoration: none;}

    .breadcrumb-fill2.style3 { border-radius: 30px; background: #bb123c;}
    .breadcrumb-fill2.style3 .fa { background: #F62459;}

    

</style>


<style>

    form {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
      transition: all 1s;
      width: 50%;
      min-width: 300px;
      height: 30px;
      background: white;
      box-sizing: border-box;
      /* border-radius: 25px; */
      border: 4px solid white;
      padding: 15px;
      /* border-bottom:1px solid rgba(128, 128, 128, 0.621); */
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    }
    
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 25.5px;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: block;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
      overflow: hidden;
    }
    
    .fa {
      box-sizing: border-box;
      padding: 5px;
      width: 24.5px;
      height: 23.5px;
      position: absolute;
      top: -4px;
      right: 0;
      border-radius: 50%;
      color: #07051a;
      text-align: center;
      font-size: 14px;
      transition: all 1s;
      margin:5px;
    }
    
    form:hover,
    form:valid {

      cursor: pointer;
    }
    
   
    
    form:hover .fa,
    form:valid .fa {
      background: #07051a;
      color: white;
    }
    
    
    
    
    
    </style>

{% endblock %}


{% block main %}

{% include 'base/loader.html' %}

{% include 'base/nav.html' %}

<div class="container-fluid p-0">
    <div class="nav-background">

    </div>
</div>




    
</div>

<div class="container-fluid mb-3 p-3 rounded-3 position-sticky top-0 start-0" style="z-index: 300;background-color: #fff; box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;" >
    <div class="row justify-content-center align-items-center">
        
        
        <div class="col-1">
            <nav class="navbar ">
      

                <button
                  class="navbar-toggler shadow-none p-2"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#filter"
                  aria-controls="filter"
                >
                  <i class="fa-solid fa-filter fs-5 act"></i>
                </button>
                <div
                  class="offcanvas offcanvas-end flex-lg-grow-0"
                  tabindex="-1"
                  id="filter"
                  aria-labelledby="filterLabel"
                  style="top:150px;"
                >
                  <div class="offcanvas-header  bg-light justify-content-end">
                    <button
                      type="button"
                      class="shadow-none border-0 bg-transparent"
                      data-bs-dismiss="offcanvas"
                      aria-label="Close"
                    >
                      <i class="fa-solid fa-xmark fs-4 text-dark"></i>
                    </button>
                  </div>
        
                  <div class="offcanvas-body bg-light">
                      <div>
                          <div class="card mb-2 rounded"  style="box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;" >
                              
                              <div class="card-header text-center">
                                Price
                              </div>
                              <ul class="list-group list-group-flush text-center">
                              {% if price_param and not price_start_param %}
                              
                                  <li class="list-group-item f-item main-background" data-option = 'price' data-select = 'True' data-value="1000">Below 1000</li>
                              {% else %}
                                  <li class="list-group-item f-item" data-option = 'price' data-select = 'False' data-value="1000">Below 1000</li>
          
                              {% endif %}
          
                              {% if price_param and price_start_param %}
                                  <li class="list-group-item   f-item main-background" data-option = 'price' data-select = 'True' data-value="2000" data-start="1000">1000 - 2000</li>
                              {% else %}
                                  <li class="list-group-item   f-item" data-option = 'price' data-select = 'False' data-value="2000" data-start="1000">1000 - 2000</li>
          
                              {% endif %}
          
                              {% if price_start_param and not price_param  %}
                                  <li class="list-group-item   f-item main-background" data-option = 'price' data-select = 'True' data-start="2000">Above 2000</li>
                              {% else %}
                                  <li class="list-group-item   f-item" data-option = 'price' data-select = 'False' data-start="2000">Above 2000</li>
          
                              {% endif %}
                              </ul>
                          </div>
          
                          <div class="card mb-2 rounded" style="box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;" >
                              <div class="card-header text-center">
                                Brand
                              </div>
                              <ul class="list-group list-group-flush text-center">
                              {% for ele in brand %}
                                  {% if ele.id == brand_param %}
                                      <li class="list-group-item   f-item main-background" data-option = 'brand' data-select = 'True' data-value="{{ele.id}}">{{ele.name}}</li>
                                  {% else %}
                                      <li class="list-group-item   f-item" data-option = 'brand' data-select = 'False' data-value="{{ele.id}}">{{ele.name}}</li>
                                  {% endif %}
                              {% endfor %}
                                
                              </ul>
                          </div>
          
                          <div class="card mb-2 rounded" style="box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;" >
                              <div class="card-header text-center">
                                Category
                              </div>
                              <ul class="list-group list-group-flush text-center">
                                  {% for ele in category %}
                                      {% if ele.id == category_param %}
                                      
                                          <li class="list-group-item  f-item main-background" data-option = 'category' data-select = 'True' data-value="{{ele.id}}">{{ele.name}}</li>
                                      {% else %}
                                          <li class="list-group-item  f-item" data-option = 'category' data-select = 'False' data-value="{{ele.id}}">{{ele.name}}</li>
                                      {% endif %}
                                  {% endfor %}
                                
                              </ul>
                          </div>
          
                          <div class="card mb-2 rounded" style="box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;" >
                              <div class="card-header text-center">
                                color
                              </div>
                              <ul class="list-group list-group-flush text-center">
                                  {% for ele in color %}
                                      {% if ele.id == color_param %}
          
                                          <li class="list-group-item   f-item main-background" data-option = 'color' data-select = 'True' data-value="{{ele.id}}">{{ele.name}}</li>
                                      {% else %}
                                          <li class="list-group-item   f-item" data-option = 'color' data-select = 'False' data-value="{{ele.id}}">{{ele.name}}</li>
                                      {% endif %}
          
                                  {% endfor %}
                                
                              </ul>
                          </div>
          
                          <div>
                              <a href="{% url 'Ecom:products' %}" id="options" class="btn btn-primary main-background w-100">Apply</a>
                          </div>
          
                      </div>
                  </div>
                </div>
            </nav>
        </div>
        <div class="col-11">
            <div>
                <form>
                    <input type="search" id="search_value" placeholder="SEARCH" required>
                    <i class="fa fa-search" id="submit_search"></i>
                </form>
            </div>
        </div>
        
    </div>
</div>

<div class="container">
    <div class="row position-relative">
       
        <div class=" col-12 bodysection">
            <div class="container-fluid">
                <div class="row">
                    {% if products %}

                    {% for ele in products %}
                    <div class="col-lg-3 col-6 p-3">

                        <div class="card position-relative p-3 border-0" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;">
                            <div class="position-relative">
                                <img src="{{ele.varient.image.normal_image.url}}" class="card-img-top rounded-3" alt="products" style="height:13rem;object-fit: cover;box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;">
                                <div class="position-absolute p-2" style="top:70%;left:0%;background-color:green">
                                    <p class="card-text text-light">Discount {{ele.discount}} %</p>

                                </div>
                            </div>                            
                            <div class="card-body">
                                <div class="d-flex my-2">
                                    {% if ele.rating >= 1 %}
                                    <i class="fa-solid fa-star text-warning"></i>
                                    {% else %}
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    {% endif %}
                                    {% if ele.rating >= 2 %}
                                    <i class="fa-solid fa-star text-warning"></i>
                                    {% else %}
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    {% endif %}
                                    {% if ele.rating >= 3 %}
                                    <i class="fa-solid fa-star text-warning"></i>
                                    {% else %}
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    {% endif %}
                                    {% if ele.rating >= 4 %}
                                    <i class="fa-solid fa-star text-warning"></i>
                                    {% else %}
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    {% endif %}
                                    {% if ele.rating == 5 %}
                                    <i class="fa-solid fa-star text-warning"></i>
                                    {% else %}
                                    <i class="fa-solid fa-star text-secondary"></i>
                                    {% endif %}

                                </div>
                              <h5 class="card-title fs-2 text-truncate">{{ele.name}}</h5>

                                <div class="d-flex mb-2">
                                    <p class="card-text m-0 me-2 px-2 py-1 text-light rounded-2" style="background-color: #04011a6e;"> {{ele.brand.name}}</p>
                                    <p class="card-text m-0 px-2 py-1 text-light rounded-2" style="background-color: rgb(212, 83, 8);">{{ele.category.name}}</p>
                                </div>
                              <p class="text-secondary m-0" style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" >{{ele.description}}</p>
                              <p class="card-text m-0 text-success"><small class="text-decoration-line-through me-2 text-danger">₹ {{ele.maximum_retail_price}}</small> ₹ {{ele.price}}</p>
                              
                              <div class="d-flex mb-2   align-items-center">
                                <p class="m-0 me-2">color </p>
                                <table style="width:20px;height:20px; border-radius:10%; " bgcolor="{{ele.varient.color.name}}"></table>
                              </div>
                              <div>
                                <a href="{% url 'Ecom:product_detail' pk=ele.varient.id %}" class="btn p-1 rounded-3 w-100" style="background-color: rgba(119, 118, 117, 0.26);font-size: 15px;">DETAIL</a>
                              </div>
                            </div>
                            {% if liked_products != 'empty' %}
                            {% if ele.id in liked_products %}
                            <div class="like_button" data-like="True" data-target="{{ele.id}}">
                                
                                <i class="fa-solid fa-heart fs-3 text-warning"></i>
                                                               
                            </div>
                            {% else %}
                            <div class="like_button unliked" data-like="False" data-target="{{ele.id}}">
                                
                                <i class="fa-solid fa-heart fs-3 text-light"></i>                               
                                
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    {% else %}

                    <div class="alert alert-warning" role="alert">
                        no products matches the search
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
        </div>
        
    </div>
    <div class="row justify-content-center align-items-center">
        <nav aria-label="Page navigation example" style="width:max-content">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>

                {% if page_obj.has_previous %}


                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">previous</a></li>
                {% endif %}


                {% if page_obj.has_next %}

                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">next</a></li>

                <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}}</a></li>
                {% endif %}
            
            </ul>
        </nav>
    </div>
</div>





{% endblock %}


{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>


<!-- script for scroll -->
<script src="{% static 'js/navscroll.js' %}"></script>

<!-- loader  -->
<script src="{% static 'js/loader.js' %}"></script>




<script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    axios.defaults.xsrfCookieName = "csrftoken"
    const filter_button = document.querySelectorAll(".f-item")

    const apply_btn = document.getElementById('options')

    let send_value = {
        'price':'{% if price_param %}{{price_param}}{% endif %}','start_price':'{% if price_start_param %}{{price_start_param}}{% endif %}','brand':'{% if brand_param %}{{brand_param}}{% endif %}','category':'{% if category_param %}{{category_param}}{% endif %}','color':'{% if color_param %}{{color_param}}{% endif %}'
    }

    filter_button.forEach(ele =>{
        ele.addEventListener("click" , ()=>{
            let option = ele.dataset.option 

            if (ele.dataset.select == 'False'){

                let element = document.querySelectorAll(`.f-item[data-option=${ele.dataset.option}]`)
                element.forEach(eles =>{
                    if(eles.dataset.select == 'True'){
                        eles.dataset.select = 'False'
                        eles.classList.remove("main-background")
                    }
                })

                if (ele.dataset.option == 'price'){
                    if (ele.dataset.start && ! ele.dataset.value){
                        send_value['start_price'] = ele.dataset.start 
                        send_value['price'] = '' 
                    }
                    else if(ele.dataset.start && ele.dataset.value){
                        send_value['start_price'] = ele.dataset.start 
                        send_value[ele.dataset.option] = ele.dataset.value

                    }
                    else{
                        send_value[ele.dataset.option] = ele.dataset.value
                        send_value['start_price'] = ''

                    }
                }
                else{
                    send_value[ele.dataset.option] = ele.dataset.value

                }

                ele.dataset.select = 'True'
                ele.classList.add("main-background")

                


            }
            else{
                send_value[ele.dataset.option] =''
                ele.dataset.select = 'False'
                ele.classList.remove("main-background")
            }

        })
    })

    apply_btn.addEventListener('click', function (e) {
        e.preventDefault(); // Prevent the default behavior of navigating to the href
        const searchParams = new URLSearchParams(send_value);
        const queryString = searchParams.toString();
        console.log(apply_btn.href +'?',send_value ,queryString)
        apply_btn.href = `${apply_btn.href }?${queryString}`
        // console.log(apply_btn.href )
        window.location.href = apply_btn.href; 
    });


    let paginator = document.querySelectorAll('.page-link');
    paginator.forEach(ele =>{
        ele.addEventListener('click' ,(e)=>{
            e.preventDefault();
            const searchParams = new URLSearchParams(send_value);
            const queryString = searchParams.toString();
            ele.href = `${ele.href}&${queryString}`
            window.location.href = ele.href;
          

        })
    })

const like_button = document.querySelectorAll('.like_button');

like_button.forEach(ele=>{

    ele.addEventListener('click' , (e)=>{

        var formData = new FormData();
        formData.append("pk", ele.dataset.target )

        axios.post("{% url 'Ecom:userlike' %}",formData)
        .then(function(res){
            if (res.data.success){

                if (res.data.liked){
                    ele.firstElementChild.classList.remove('text-light')

                    ele.firstElementChild.classList.add('text-warning')
                }
                else{
                    ele.firstElementChild.classList.add('text-light')
                    ele.firstElementChild.classList.remove('text-warning')

                }
            }
            else{
                console.log('error');
            }
        })
        .catch(function(error){
            console.error(error);
        })
    })
})

const submit_search = document.getElementById('submit_search');

submit_search.addEventListener('click' ,()=>{
    const search_value = document.getElementById('search_value')

    if (search_value.value != ''){
        window.location = `products?name=${search_value.value}`
    }
    
})
   
</script>

{% endblock %}