{% extends 'base/base.html' %}

{% load static %}

{% load socialaccount %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/loader.css' %}">
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<style>

    body{
        display: block;
    }

    input.form-control{
        color:black;
    }

    input.form-control:focus{
        color:black;
    }

    .card-img-top{
        height:300px;
    }

    .card-no-border .card {
        border-color: #d7dfe3;
        border-radius: 4px;
        margin-bottom: 30px;
        -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem
    }

    .pro-img {
        margin-top: -80px;
        margin-bottom: 20px
    }

    .little-profile .pro-img img {
        width: 128px;
        height: 128px;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 100%
    }

    html body .m-b-0 {
        margin-bottom: 0px
    }

    h3 {
        line-height: 30px;
        font-size: 21px
    }

    .btn-rounded.btn-md {
        padding: 12px 35px;
        font-size: 16px
    }

    html body .m-t-10 {
        margin-top: 10px
    }

    .btn-rounded {
        border-radius: 60px;
        padding: 7px 18px
    }

   

    .text-center {
        text-align: center !important
    }

    ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type :none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 30%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 20%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
    position:absolute;
    top:100%;
    left:100%;
    z-index: 100;
    transform: translate(-50%, -50%);

}
ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    font-size: 2.2em;
    height:max-content;
    position:absolute;
    top:100%;
    left:100%;
    transform: translate(-50%, -30%);
}


</style>


{% endblock %}


{% block main %}



{% include 'base/loader.html' %}

{% include 'base/nav.html' %}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-lg-12">
            <div >
                <div >
                    <!-- Column -->
                    <div class="card"> <img class="card-img-top" src="https://img.freepik.com/premium-photo/umbrella-with-rain-hd-8k-wallpaper-stock-photographic-image_890746-37067.jpg" style="object-fit: cover;" alt="Card image cap">
                        <div class="card-body little-profile text-center">
                            <div class="pro-img">
                                {% if request.user.user.picture %}
                                <img src="{{user.user.picture.url}}" alt="user">
                                {% else %}
                                <img src="{% static 'default/noprofile.png' %}" alt="user">
                                {% endif %}
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% for each in orders %}
    <div class="row border rounded p-5 m-5">
        <div class="col-lg-5">

            <div class="container-fluid">
                <div class="row">
                    {% for ele in each.product_cover.all %}
                    
                    <div class="col-lg-6 mb-3">
        
                        <div>
                            <img src="{{ele.products.image.normal_image.url}}" alt="image" class="rounded" style="width:150px;height:150px;object-fit: cover;">
                        </div>
                        <div>
                            <p class="fs-4 m-0">{{ele.products.product.name}}</p>
                            <p class="fs-5 m-0" style="width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ele.products.product.description}}</p>
                            <div class="d-flex align-items-center" style="gap:30px;">
                                <p class="fs-6 m-0 text-success"> ₹ {{ele.products.product.price}}</p>
                                <p class="text-secondary m-0">Size : {{ele.products.size.size}}</p>
                            </div>
        
                            <div class="d-flex flex-wrap" style="gap:10px;">
                                <p class="m-0 badge bg-secondary fs-6 fw-normal">{{ele.products.color.name}}</p>
                                <p class="m-0 badge bg-secondary fs-6 fw-normal">{{ele.products.product.brand.name}}</p>
                                <p class="m-0 badge bg-secondary fs-6 fw-normal">{{ele.products.product.category.name}}</p>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button class="btn btn-outline-dark review" data-target="{% url 'Ecom:comment' pk=ele.products.product.id %}">REVIEW</button>
                        </div>
                        
        
                    </div>
                    {% endfor %}

                </div>
            </div>

            
        </div>

        <div class="col-lg-5">
            <p class="fs-4 m-0">Total amount : ₹ {{each.total_price}}</p>
            <p class="fs-5 m-0">Total items : {{each.total_item}}</p>
            <p class="fs-5 m-0">Order Date : {{each.order_date}}</p>
            
            <p class="fs-5 m-0" id ="status{{forloop.counter}}">Status :{% if each.return_product %} Returned {% else %} {{each.status}} {% endif %} </p>
            <p class="fs-5 m-0">Payment : {{each.payment_method}}</p>

            <div>
                <ol class="progtrckr position-relative" data-progtrckr-steps="4">
                    <li class="progtrckr-done position-relative">
                        Order
                    </li>
                    {% if each.status == 'cancel' %}
                    <li class="progtrckr-done position-relative">Cancel</li>
                    {% elif each.return_product %}
                    <li class="progtrckr-done position-relative">Return</li>
                    {% else %}
                        {% if each.status == 'delivered' %}
                        <li class="progtrckr-done position-relative">Production</li>
                        <li class="progtrckr-done position-relative">Shipped</li>
                        <li class="progtrckr-done position-relative">Delivered</li>
                        {% elif each.days_since_order > 4 %}
                        <li class="progtrckr-done position-relative">Production</li>
                        <li class="progtrckr-todo position-relative">Shipped</li>
                        <li class="progtrckr-todo position-relative">Delivered</li>
                        {% elif each.days_since_order > 2 %}
                        <li class="progtrckr-done position-relative">Production</li>
                        <li class="progtrckr-done position-relative">Shipped</li>
                        <li class="progtrckr-todo position-relative">Delivered</li>
                        {% else %}
                        <li class="progtrckr-todo position-relative">Production</li>
                        <li class="progtrckr-todo position-relative">Shipped</li>
                        <li class="progtrckr-todo position-relative">Delivered</li>
                        {% endif %}
                    {% endif %}
                </ol>
            </div>
        </div>

        <div class="col-lg-2">
            <p class="fs-4 m-0">Delivery Address :</p>
            <div class="p-3 " style="width: max-content;">
                <p class="m-0">{{each.address.village}}</p>
                <p class="m-0">{{each.address.city}}</p>
                <div class="d-flex">
                    <p class="m-0">{{each.address.district}} - </p>
                    <p class="m-0">{{each.address.pincode}}</p>
                </div>
                <p class="m-0">{{each.address.first_phone_number}}</p>
                {% if each.address.second_phone_number %}
                <p class="m-0">{{each.address.second_phone_number}}</p>
                {% endif %}

                {% if each.address.landmark %}
                <p class="m-0">{{each.address.landmark}}</p>
                {% endif %}

            </div>
            {% if each.status == 'delivered' or each.status == 'cancel' or each.return_product %}
            {% else %}
            <a href="{% url 'Ecom:cancelorder' pk=each.id %}" data-set="{{forloop.counter}}" class="btn btn-outline-dark cancel_button">Cancel Order</a>
            {% endif %}
            {% if each.status == 'delivered' and not each.return_product %}
            <a href="{% url 'Ecom:returnorder' pk=each.id %}" data-set="{{forloop.counter}}" class="btn btn-outline-dark return_button">Return</a>
            {% endif %}

        </div>
        

    </div>
    {% endfor %}

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column justify-content-center align-items-center">

            <h1>Review</h1>

            <textarea name="review" id="review_message" cols="30" rows="10" class="form-control"></textarea>
            <button class="btn btn-outline-dark mt-4" id="add_review">ENTER</button>
        </div>          
          
        
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}

<!-- loader  -->
<script src="{% static 'js/loader.js' %}"></script>

<!-- form validation  -->
<!-- <script src="{% static 'js/form.js' %}"></script> -->



<!-- script for scroll -->
<script src="{% static 'js/navscroll.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    axios.defaults.xsrfCookieName = "csrftoken"
   
    let cancel_button = document.querySelectorAll('.cancel_button')

    cancel_button.forEach(ele=>{

        ele.addEventListener('click' ,(e)=>{

            e.preventDefault()

            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
            }).then((result) => {
            if (result.isConfirmed) {
                axios.post(ele.href)
                .then(function(response){

                    if(response.data.success){
                        Swal.fire(
                            'Cancelled!',
                            'Your Order has been cancelled',
                            'success'
                            )
                        ele.classList.add('visually-hidden');
                        let status = document.getElementById(`status${ele.dataset.set}`)
                        console.log(`status${ele.dataset.set}`);
                        status.innerText='status : cancel';
                    }
                    else{
                        Swal.fire(
                            'error!',
                            'Try again after some time',
                            'error'
                        )
                    }
                })
                .catch(function(error){
                    console.error(error)
                }) 
            }
            })
            
        })
    })
    let return_button = document.querySelectorAll('.return_button')

    return_button.forEach(ele=>{

        ele.addEventListener('click' ,(e)=>{

            e.preventDefault()

            Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
            }).then((result) => {
            if (result.isConfirmed) {
                axios.post(ele.href)
                .then(function(response){

                    if(response.data.success){
                        Swal.fire(
                            'Returned!',
                            'Your Order has been returned',
                            'success'
                            )
                        ele.classList.add('visually-hidden');
                        let status = document.getElementById(`status${ele.dataset.set}`)
                        status.innerText='status : Returned';
                    }
                    else{
                        Swal.fire(
                            'error!',
                            'Try again after some time',
                            'error'
                        )
                    }
                })
                .catch(function(error){
                    console.error(error)
                })
            }
            })
            axios.post(ele.href)
            .then(function(response){

                if(response.data.success){
                    Swal.fire(
                        'Returned!',
                        'Your Order has been returned',
                        'success'
                        )
                    ele.classList.add('visually-hidden');
                    let status = document.getElementById(`status${ele.dataset.set}`)
                    status.innerText='status : Returned';
                }
                else{
                    Swal.fire(
                        'error!',
                        'Try again after some time',
                        'error'
                    )
                }
            })
            .catch(function(error){
                console.error(error)
            })
        })
    })


    const myModal = new bootstrap.Modal(document.getElementById('exampleModal'))
    let review_message = document.getElementById('review_message')
    const myModalEl = document.getElementById('exampleModal')
    myModalEl.addEventListener('hidden.bs.modal', event => {
        review_message.value = ''
        review_message.dataset.target=''
    })
    let review = document.querySelectorAll('.review');

    review.forEach(ele=>{

        ele.addEventListener('click' , ()=>{

            myModal.toggle()
            review_message.dataset.target = ele.dataset.target

        })
    })

    let add_review = document.getElementById('add_review')

    add_review.addEventListener('click',()=>{

        
        if (review_message.value.trim()){
            let formData = new FormData()
            formData.append('value' , review_message.value.trim())

            myModal.toggle()
            

            axios.post(review_message.dataset.target , formData)

            .then(function(res){

                if(res.data.success){
                    review_message.value = ''
                    review_message.dataset.target=''
                    Toastify({
                        text: `Thanks for the review`,
                        duration: 3000, 
                        gravity: 'top', 
                        position: 'center', 
                        backgroundColor: 'green',
                     }).showToast();
                }
                else{
                    Toastify({
                        text: `there is an issue try again later`,
                        duration: 3000, 
                        gravity: 'top', 
                        position: 'center', 
                        backgroundColor: 'red',
                     }).showToast();
                }
            })
            .catch(function(error){

                console.error(error)
            })
        }
        else{
            Toastify({
                text: `add review`,
                duration: 3000, 
                gravity: 'top', 
                position: 'center', 
                backgroundColor: 'red',
             }).showToast();
        }
    })

</script>

{% endblock %}