
{% extends 'base/base.html' %}

{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/adminnav.css' %}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">



{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row p-0">
        {% include 'base/adminnav.html' with page='home' %}
        <div class="col-lg-8 bodysection">
            <div class="container-fluid">
                <div class="row justify-content-around m-2">
                    
                    <div class="col-8">
                        <div class="d-flex justify-content-between mb-3">
                            <p>Sales Report</p>
                            <div class="d-flex">
                                <select class="form-select form-control me-2" id="sales_year" aria-label="Default select example">
                                    {% for year in years %}
                                        {% if year == currentyear %}
                                        <option selected value="{{year}}">{{year}}</option>
                                        {% else %}
                                        <option value="{{year}}">{{year}}</option>
                                        {% endif %}
                                    {% endfor %}
                                    
                                  </select>
                                <a href="{% url 'admins:salesreport' %}" class="btn btn-outline-dark" id="sales_search_button">SEARCH</a>
                            </div>
                        </div>
                        <div>
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>

                    <div class="col-3 d-flex flex-column justify-content-center align-items-center ">
                        <p class="mb-3">Today sale count</p>
                        <div id="todaysaleprogresscontainer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="{% static 'js/adminnav.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.1.0/dist/progressbar.min.js"></script>

<script>
    var target = parseInt('{{today_sale.target}}');
    var sales = 20;//parseInt('{{today_sale.sale}}')
    var percentage = sales / target;
    if (percentage > 1.0) {
        percentage = 1.0;
    }

    var bar = new ProgressBar.Circle('#todaysaleprogresscontainer', {
        color: '#03fc0f',
        trailColor: '#03fc0f',
        strokeWidth: 4,
        trailWidth: 1,
        text: {
            value: '0',
            alignToBottom: false,
            style: { // This is the new style attribute
                // You can specify any CSS properties you want
                color: '#03fc0f',
                position: 'absolute',
                left: '50%',
                top: '50%',
                padding: 0,
                margin: 0,
                transform: {
                    prefix: true,
                    value: 'translate(-50%, -50%)'
                },
                // Set the font size to whatever you want
                fontSize: '2rem'
            }
        },
        
        step: function(state, circle) {
            circle.setText((circle.value() * target).toFixed(0));
        }
    });

    bar.animate(percentage);  // Number from 0.0 to 1.0
</script>

<script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    axios.defaults.xsrfCookieName = "csrftoken"

    let val  = '{{dataset}}'
    let converter = ()=>{
        return JSON.parse(val)
    }

    let current_year =  new Date().getFullYear();


    let sales_search_button = document.getElementById('sales_search_button')
    sales_search_button.addEventListener('click',(e)=>{
        let sales_year = document.getElementById('sales_year')

        e.preventDefault()
        if (current_year == sales_year.value ){
            Toastify({
                text: "select different year",
                duration: 3000, 
                gravity: 'top', 
                position: 'top', 
                backgroundColor: 'red',
             }).showToast();
            return;
        }

        let formData = new FormData()
        formData.append('year',sales_year.value)
        axios.post(sales_search_button.href , formData)

        .then(function(res){

            if (res.data.success){
                chart.data.datasets[0].data = res.data.dataset;
                chart.update();
                current_year = parseInt(sales_year.value)
            }
            else{

            }
        })
        .catch(function(error){
            console.error(error)
        })
    })
    const ctx = document.getElementById('myChart');
  
    const chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['jan', 'feb', 'mar', 'apr', 'may', 'jun' , 'jul' ,'aug' ,'sep' , 'oct' , 'nov' , 'dec'],
        datasets: [{
          label: 'sales',
          data: converter(),
          borderWidth: 1,
          barThickness: 6,
          backgroundColor:'rgba(247, 109, 10,1)'
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
        
      }
    });
</script>

{% endblock %}