{% extends 'base/base.html' %}

{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base1.css' %}">
<link rel="stylesheet" href="{% static 'css/adminnav.css' %}">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
    .custom_style{
        color:white;
        box-shadow: none !important;
        
    }

    input.custom_style{
        color:white;
    }

    input.custom_style:focus {
        color:white;
        border:none!important;
        outline: none;
        border-bottom: 1px solid white !important;
    }
</style>

{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row p-0">
        {% include 'base/adminnav.html' with page='order' %}
        <div class="col-lg-8 bodysection">
            <div class="container-fluid p-2 mt-5">
                <div class="row">
                    <div class="col-12">
                        <h4>ORDERS</h4>
                        {% if orders %}

                        <div class="table-responsive bg-dark my-5 p-4 rounded-2">
                            <form method="get" class="mb-3 d-flex justify-content-end">
                                <input type="search" placeholder="search" class="custom_style text-light border-0 bg-transparent border-bottom border-light" name="search" >
                                <button type="submit" class="custom_style border-0 bg-transparent border-bottom border-light">
                                    <i class="fa-solid fa-search text-light"></i>
                                </button>
                            </form>
                            <table class="table table-dark table-hover ">
                                <thead>
                                    <tr>
                                        <th scope="col">NO</th>
                                        <th scope="col">ORDER Id</th>
                                        <th scope="col">PRODUCTS</th>
                                        <th scope="col">USER</th>
                                        <th scope="col">ADDRESS</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col">PAYMENT</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">DETAIL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for each in orders %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>ORDNY{{each.id}}</td>
                                        <td>
                                            <p style="width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                {% for each_p in each.product_cover.all %}
                                                {{each_p.products.product.name}},
                                                {% endfor %}
                                            </p>
                                        </td>
                                        <td>{{each.user.user.first_name}}</td>
                                        <td >
                                            <p style="width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{each.address}}</p>
                                        </td>
                                        <td>{{each.total_price}}</td>
                                        <td>{{each.payment_method}}</td>
                                        <td>
                                            {% if each.return_product %}
                                            returned
                                            {% else %}
                                            {{each.status}}
                                            {% endif %}
                                            
                                        </td>
                                        <td><a href="{% url 'admins:orderdetail' pk=each.id %}" class="btn btn-outline-light">Detail</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% else %}

                        <p>no transaction made through the wallet</p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="{% static 'js/adminnav.js' %}"></script>

<!-- <script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    axios.defaults.xsrfCookieName = "csrftoken"

    let productData =  JSON.stringify('{{products|safe}}');

    let product = JSON.parse(productData)

    console.log(product);

    let container_product = document.getElementById('container_product');

    let delete_product = document.querySelectorAll('.delete-product');

    delete_product.forEach(ele =>{

        ele.addEventListener('click' ,(e)=>{

            e.preventDefault()

            axios.delete(ele.href)
            .then(function(response){

                if(response.data.success){
                    let product_box = document.getElementById(ele.dataset.target);
                    container_product.removeChild(product_box);
                }
                else{
                    console.log('error');
                }
            })
            .catch(function(error){
                console.error(error)
            })

            
        })
    })


</script> -->

{% endblock %}