{% extends 'base/base.html' %}

{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/adminnav.css' %}">

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row p-0">
        {% include 'base/adminnav.html' with page='product' %}
        <div class="col-lg-8 bodysection">
            <div class="container-fluid p-5">
                <div class="row mb-4">
                    <a href="{% url 'admins:add_product' %}" class="btn btn-primary" style="width:max-content">ADD PRODUCT</a>
                </div>
                <div class="row" id="container_product">
                    {% for ele in products %}

                    <div class="col-lg-4 col-md-4 col-6 " id="product_box{{forloop.counter}}">
                        <div class="card" >
                            {% for varient in ele.detail_product.all %}
                                {% if varient.first_preference %}
                                    <img src="{{varient.image.normal_image.url}}" class="card-img-top" alt="" style="height:15rem;object-fit: cover;">
                                {% endif %}
                            {% endfor %}
                            <div class="card-body">
                              <h5 class="card-title">Name :{{ele.name}}</h5>
                              <p class="card-text m-0">Price :{{ele.price}}</p>
                              <div>
                                <div class="d-flex">
                                    <p class="m-0 me-2">Category</p>
                                    <a href="" class="me-2">{{ele.category.name}}</a>
                                </div>
                                <div class="d-flex">
                                    <p class="m-0 me-2">Brand</p>
                                    <a href="" class="me-2">{{ele.brand.name}}</a>
                                </div>
                              </div>

                            {% for varient in ele.detail_product.all %}

                            {% endfor %}
                            
                              <a href="{% url 'admins:productvarient' pk=ele.pk %}" class="btn btn-primary my-2 me-3">Detail</a>
                              <a href="{% url 'admins:deleteproduct' pk=ele.pk %}" data-target="product_box{{forloop.counter}}" class="btn btn-primary my-2 delete-product">Delete</a>

                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="{% static 'js/adminnav.js' %}"></script>

<script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    axios.defaults.xsrfCookieName = "csrftoken"

    let productData =  JSON.stringify('{{products|safe}}');

    let product = JSON.parse(productData)

    console.log(product);

    let container_product = document.getElementById('container_product');

    let delete_product = document.querySelectorAll('.delete-product');

    delete_product.forEach(ele =>{

        ele.addEventListener('click' ,(e)=>{

            e.preventDefault()

            axios.delete(ele.href)
            .then(function(response){

                if(response.data.success){
                    let product_box = document.getElementById(ele.dataset.target);
                    container_product.removeChild(product_box);
                }
                else{
                    console.log('error');
                }
            })
            .catch(function(error){
                console.error(error)
            })

            
        })
    })


</script>

{% endblock %}