
{% extends 'base/base.html' %}

{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base1.css' %}">
<link rel="stylesheet" href="{% static 'css/adminnav.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">s
<style>

    .form-control{
        color:white;
        box-shadow: none !important;
    }

    input.form-control{
        color:white;
    }

    input.form-control:focus {
        color:white;
    }
    

    

    input[type='file']{
        opacity: 0;
   
    }

    label.img_label{
        padding:5px;
        background-color: rgb(245, 126, 29);
        border-radius: 5px;
        width:150px
    }

    .img_preview{
        width:200px;
        height:200px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    .img_preview > img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .img_preview >button{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }


    #main_image , #preview_image{
        max-width:100%;
        display: block;
    }

    #varient_form_set{
        background-color: rgba(128, 128, 128, 0.37);
        padding:30px;
        border-radius: 20px;
    }

   


</style>

{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row p-0">
        {% include 'base/adminnav.html' with page='product' %}
        <div class="col-lg-8 bodysection">
            

            <div class="container-fluid p-4">
                <div class="row">
                    <div class="col-12">
                        {% include 'base/admin_top_nav.html' %}
                    </div>
                </div>
                    
                <form method="post" class="forms my-5" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="front_end_error_validation text-light bg-danger visually-hidden p-2 rounded"></p>
                        </div>
                    </div>
                    <div class="row rounded-2 p-2" style="background-color: #302d2d98">            
                            
                            
                    {% for ele in form %}
                        <div class="col-lg-4">
                            {% if ele.help_text %}
        
                            <small class="text-danger">{{ele.help_text}}</small>
        
                            {% endif %}
                                                     
                            <div class="form-floating mb-3 p-1 position-relative">
                                            
                                {{ ele }}
                                <label for="{{ ele.id_for_label }}" class="bg-transparent">{{ ele.label }}</label>
                            </div>

                            {% if ele.errors %}
                            <p class="text-light p-2 bg-danger rounded">{{ele.errors|join:", "}}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                                                   
                        <div class="col-lg-12">
                            <p>Varient</p>
                        </div>
                    {{ varient_count_formset.management_form }}

                    
                        <div class="col-lg-12">
                            
                            <div class="container-fluid" id="varient_form_set_container">
                                
                                {% if varient_count_formset.non_form_errors %}

                                <div class="row mb-2">
                                    <div class="col-12">
                                        <p class="text-light p-2 bg-danger rounded for_error">{{varient_count_formset.non_form_errors|join:", "}}</p>
                                    </div>
                                </div>

                                {% endif %}



                                {% for varient_form in varient_count_formset %}
                                <div class="row mb-3" id="varient_form_set">
                                        
                                            {% for ele in varient_form %}

                                            {% if 'image' in ele.name %}
                                            <div class="col-lg-3">

                                                {% if ele.help_text %}
                
                                                    <small class="text-danger">{{ele.help_text}}</small>
                                
                                                {% endif %}
                                                                                        
                                                    <div>
                                                        <div class="form-floating mb-3 p-1 position-relative">
                                                                        
                                                            {{ ele }}
                                                            <label for="{{ ele.id_for_label }}" class="img_label">{{ ele.label }}</label>
                                                                    
                                                        </div>
                                                        <div class="img_preview visually-hidden">
                                                            <img src="" alt="preview">
                                                            <button class="btn btn-outline-dark mt-3 cropperbutton" >crop</button>
                                                        </div>
                                                    </div>                                           
                                
                                                {% if ele.errors %}
                                                    <p class="text-light p-2 bg-danger rounded for_error">{{ele.errors|join:", "}}</p>
                                                {% endif %}

                                            </div>
                                            {% else %}
                                            <div class="col-lg-12">
                                                {% if ele.help_text %}
                
                                                    <small class="text-danger">{{ele.help_text}}</small>
                                
                                                {% endif %}
                                                <div class="form-floating mb-3 p-1 position-relative">
                                                                        
                                                    {{ ele }}
                                                    <label for="{{ ele.id_for_label }}" class="bg-transparent">{{ ele.label }}</label>
                                                </div>

                                                {% if ele.errors %}
                                                    <p class="text-light p-2 bg-danger rounded">{{ele.errors|join:", "}}</p>
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                            {% endfor %}

                                            
                                            <div class="col-12">
                                                <div class="container-fluid">
                                                    {% if varient_form.size_count_formset.non_form_errors %}

                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="text-light p-2 bg-danger rounded for_error">{{varient_form.size_count_formset.non_form_errors|join:", "}}</p>
                                                        </div>
                                                    </div>

                                                    {% endif %}
                                                    {{varient_form.size_count_formset.management_form}}
                                                    {% for size_form in varient_form.size_count_formset %}

                                                    <div class="row form_size_container">

                                                        {% for ele  in size_form %}

                                                        <div class="col-6 form_size_field">

                                                            {% if ele.help_text %}
                    
                                                            <small class="text-danger">{{ele.help_text}}</small>
                    
                                                            {% else %}

                                                            {% endif %}
                                                            <div class="form-floating mb-3">
                                            
                                                                {{ ele }}
                                                                <label for="{{ ele.id_for_label }}" class="bg-transparent ">{{ ele.label }}</label>
                                                            </div>
                                                            {% if ele.errors %}
                                                                <p class="text-light p-2 bg-danger rounded for_error">{{ele.errors|join:", "}}</p>
                                                            {% endif %}

                                                        </div>

                                                        {% endfor %}
                                                        
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                </div>

                                {% endfor %}
                            </div>
                            
                        </div>
                            
                        
                    </div>
                    <div class="row mt-4">
                        <div class="col-4 text-center">
                            <button class="btn btn-outline-light" id="add_varient_button">More Varient</button>
                        </div>
                        <div class="col-4 text-center">
                            <button class="btn btn-outline-light" id="delete_varient_button">Delete Varient</button>
                        </div>
                        <div class="col-4 text-center">
                            <input type="submit" class="btn btn-outline-light" value="Add Product">
                        </div>
                    </div>
                </form>
                                  
            </div>
        </div>
    </div>
</div>


  
  <!-- Modal -->
  
    <div class="modal  fade" id="cropperboard" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              
              <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-6" id="parent-container">
                        <div class="w-100" >
                            <img src="" alt="main board" id ="main_image" >

                        </div>
                    </div>
                    <div class="col-6">
                        <img src="" alt="preview pannel" class="visually-hidden"  id="preview_image">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="options hide">
                    
                            <div>
                                <button class="ascept-ratio">16:9</button>
                                <button class="ascept-ratio">4:3</button>
                                <button class="ascept-ratio">1:1</button>
                                <button class="ascept-ratio">2:3</button>
                                <button class="ascept-ratio">Free</button>
                            </div>
                        </div>
                        <div>
                            <button id="preview">PREVIEW</button>
                            <button type="button" id="cropper_finish">CROP</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>    

{% endblock %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="{% static 'js/adminnav.js' %}"></script>
<!-- form validation  -->
<script src="{% static 'js/form.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>

const add_image = (event)=>{
        const img_file = event.target.files[0];

        if (img_file){
            const reader = new FileReader();

            reader.onload = (e)=>{
                event.target.parentElement.nextElementSibling.firstElementChild.src = e.target.result;
            };

            reader.readAsDataURL(img_file);
            event.target.parentElement.nextElementSibling.classList.remove('visually-hidden')
        }
        else{
            event.target.parentElement.nextElementSibling.firstElementChild.src ='';
            event.target.parentElement.nextElementSibling.classList.add('visually-hidden')

        }
    }


const cropper_button_open_model = (event)=>{
        event.preventDefault()
            myModal.show()
            main_image.src ='';
            
            
            const img_file = event.target.parentElement.previousElementSibling.firstElementChild.files[0];
            current_file = event.target.parentElement.previousElementSibling.firstElementChild;

            if (img_file){
                const reader = new FileReader();

                reader.onload = (e)=>{
                    main_image.src = e.target.result;
                    
                    if(cropper){
                    cropper.destroy()
                    }

                    cropper = new Cropper(main_image,{
                        minContainerHeight:300,
                        minContainerWidth:300,
                    })
                };

                reader.readAsDataURL(img_file);

                
                
                
            }
            else{
                main_image.src ='';

            }

    }

const add_varient_button = document.getElementById('add_varient_button');
const delete_varient_button = document.getElementById('delete_varient_button');
const hidden_total_form = document.getElementById('id_varient-TOTAL_FORMS');

const varient_form_set_container = document.getElementById('varient_form_set_container');

let varient_form_set = varient_form_set_container.firstElementChild;

let formcount = parseInt(hidden_total_form.getAttribute('value'))-1;



add_varient_button.addEventListener('click',(e)=>{

    e.preventDefault();

    let newForm = varient_form_set.cloneNode(true);
    let formRegex = RegExp(`varient-(\\d){1}-`,'g');
    let formRegex2 = RegExp(`varientsize0`,'g');
    formcount++;
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `varient-${formcount}-`);
    newForm.innerHTML = newForm.innerHTML.replace(formRegex2, `varientsize${formcount}`);


    newForm.querySelectorAll("input[type='file']").forEach(ele=>{
        ele.value='';
        ele.parentElement.nextElementSibling.classList.add('visually-hidden');
        ele.parentElement.nextElementSibling.firstElementChild.src ='';
        ele.addEventListener('change',add_image)

    })

    newForm.querySelectorAll("input, select").forEach(ele=>{
        if(!( ele.type == "hidden")){
            ele.value =''
        }
    })

    newForm.querySelectorAll(".for_error").forEach(ele=>{
        ele.innerText ='';
        ele.classList.remove('p-2', 'bg-danger')
    })

    let new_cropper_button = newForm.querySelectorAll('.cropperbutton');
    new_cropper_button.forEach(ele=>{
        ele.addEventListener('click',cropper_button_open_model)
    })

    
    // varient_form_set_container.insertBefore(newForm, add_varient_button)
    varient_form_set_container.appendChild(newForm);
    hidden_total_form.setAttribute('value', `${formcount+1}`);
    // hidden_total_size_form.setAttribute('value',`${size_form_count}`)

})
let deleteVarient = (e)=>{
    e.preventDefault();

    if (varient_form_set_container.childElementCount == 1){
        // this variable is from the form.js file
        front_end_error.innerText = "you have to add atleast one varient so can not delete varient";
        front_end_error.classList.remove('visually-hidden')
        return
    }
    varient_form_set_container.removeChild(varient_form_set_container.lastElementChild)
    formcount--;
    hidden_total_form.setAttribute('value', `${formcount+1}`);


}

delete_varient_button.addEventListener('click',deleteVarient)



</script>

<script>

    const all_cropper_button = document.querySelectorAll('.cropperbutton');

    const main_image = document.getElementById("main_image")
    const preview_button = document.getElementById("preview")
    const preview_image = document.getElementById("preview_image")
    const cropper_finised_button = document.getElementById("cropper_finish")

    const ascept_ratio = document.querySelectorAll('.ascept-ratio');

    var parentContainer = document.getElementById('parent-container');
    var parentWidth = parentContainer.offsetWidth;
    var parentHeight = parentContainer.offsetHeight;

    let current_file = ''

    let cropper=''


    


    let elements = document.querySelectorAll("input[type='file']");
    elements.forEach(ele =>{
        ele.addEventListener('change' ,add_image)
    })

    

    const modal_elelment = document.getElementById("cropperboard")
    const myModal = new bootstrap.Modal(modal_elelment, {
        keyboard: false
    })

    
    


    all_cropper_button.forEach(ele => {

        ele.addEventListener('click' , cropper_button_open_model);
    })


    ascept_ratio.forEach(ele=>{

        ele.addEventListener('click',()=>{

            if (ele.innerText == "Free"){
                cropper.setAspectRatio(NaN)
            }
            else{

                cropper.setAspectRatio(eval(ele.innerText.replace(':','/')));
            }
        })
    })

    preview_button.addEventListener('click',(e)=>{
        e.preventDefault()
        console.log('clicked');
        let croped_image = cropper.getCroppedCanvas({}).toDataURL();

        preview_image.src = croped_image
        preview_image.classList.remove('visually-hidden')
    })


cropper_finised_button.addEventListener('click', () => {
    if (cropper) {
        cropper.getCroppedCanvas().toBlob((blob) => {
            const new_file = new File([blob], `crop-${current_file.files[0].name}`, { type: 'image/jpeg' });

            // Now let's create a DataTransfer to get a FileList
            const dataTransfer = new DataTransfer();
            dataTransfer.items.add(new_file);

            // Assign the new FileList to the input element
            current_file.files = dataTransfer.files;

            if (current_file.files[0]){
                const reader = new FileReader();
                reader.onload = (e)=>{
                    current_file.parentElement.nextElementSibling.firstElementChild.src = e.target.result;
                    
                    if(cropper){
                    cropper.destroy()
                    }

                    cropper = new Cropper(main_image,{
                        minContainerHeight:300,
                        minContainerWidth:300,
                    })
                };

                reader.readAsDataURL(current_file.files[0]);
            }
            
        }, 'image/jpeg');
    }
});
</script>

{% endblock %}



