
{% extends 'base/base.html' %}

{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base1.css' %}">
<link rel="stylesheet" href="{% static 'css/adminnav.css' %}">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
    img.img{
        width:200px;
        height:200px;
        object-fit: contain;
        border-radius: 50%;
        
    }
    .custom_style{
        color:white;
        box-shadow: none !important;
        
    }

    input.custom_style{
        color:white;
    }

    input.custom_style:focus {
        color:white;
        border:none!important;
        outline: none;
        border-bottom: 1px solid white !important;
    }
</style>

{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row p-0">
        {% include 'base/adminnav.html' with page='user' %}
        <div class="col-lg-8 bodysection">
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-12">
                        {% include 'base/admin_top_nav.html' %}

                    </div>
                </div>
                <div class="row justify-content-center my-5">
                    <div class="col-lg-12 ">
                        <div class="card  p-5" style="background-color: #302d2d98;" >
                            <div class="d-flex justify-content-around align-items-center">
                                <div>
                                    <img src="{% if user.picture %} {{user.picture.url }} {% else %} {% static 'default/noprofile.png' %} {% endif %}" class="img" alt="">
    
                                </div>
                                <div >
                                  <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                                  <p class="card-text">Email:{{user.email}}</p>
                                  <p class="card-text">Gender:{{user.gender}}</p>
                                  <p class="card-text">Number:{% if user.phone_number %} {{user.email}} {% else %} undefined {% endif %}</p>
                                  <button class="btn btn-primary" id="toggle">
                                    {% if user.user.is_active %}
                                        DEACTIVATE
                                    {% else %}
                                        ACTIVATE
                                    {% endif %}
                                   </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h4>TRANSACTION</h4>
                        {% if transaction %}

                        <div class="table-responsive bg-dark my-5 p-4 rounded-2">
                            <table class="table table-dark table-hover ">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">FULL NAME</th>
                                        <th scope="col">TRANSACTION TYPE</th>
                                        <th scope="col">AMOUNT</th>
                                        <th scope="col">DATE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ele in transaction %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ ele.user.user.first_name }} {{ ele.user.user.last_name }}</td>
                                        <td>{{ ele.transaction_type }}</td>
                                        <td>{{ ele.amount }}</td>
                                        <td>{{ ele.date }}</td>
                                        
                                    </tr> 
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% else %}

                        <p>no transaction made through the wallet</p>

                        {% endif %}
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>ORDERS</h4>
                        {% if order %}

                        <div class="table-responsive bg-dark my-5 p-4 rounded-2">
                            <form method="get" class="d-flex justify-content-end mb-3">
                                <input type="search" placeholder="search" class="custom_style text-light border-0 bg-transparent border-bottom border-light" name="search" >
                                <button type="submit" class="custom_style border-0 bg-transparent border-bottom border-light">
                                    <i class="fa-solid fa-search text-light"></i>
                                </button>
                            </form>
                            <table class="table table-dark table-hover ">
                                <thead>
                                    <tr>
                                        <th scope="col">NO</th>
                                        <th scope="col">ORDER Id</th>
                                        <th scope="col">PRODUCTS</th>
                                        <th scope="col">USER</th>
                                        <th scope="col">ADDRESS</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col">PAYMENT</th>
                                        <th scope="col">STATUS</th>
                                        <th scope="col">DETAIL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for each in order %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>ORDNY{{each.id}}</td>
                                        <td>
                                            <p style="width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                {% for each_p in each.product_cover.all %}
                                                {{each_p.products.product.name}},
                                                {% endfor %}
                                            </p>
                                        </td>
                                        <td>{{each.user.user.first_name}}</td>
                                        <td >
                                            <p style="width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{each.address}}</p>
                                        </td>
                                        <td>{{each.total_price}}</td>
                                        <td>{{each.payment_method}}</td>
                                        <td>
                                            {% if each.return_product %}
                                            returned
                                            {% else %}
                                            {{each.status}}
                                            {% endif %}
                                            
                                        </td>
                                        <td><a href="{% url 'admins:orderdetail' pk=each.id %}" class="btn btn-outline-light">Detail</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% else %}

                        <p>no transaction made through the wallet</p>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="{% static 'js/adminnav.js' %}"></script>

<script>
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    axios.defaults.xsrfCookieName = "csrftoken"

    function toggleButtonText() {
        const button = document.getElementById('toggle');
        const isActive = button.textContent.trim() === 'DEACTIVATE';
        button.textContent = isActive ? 'ACTIVATE' : 'DEACTIVATE';
    }

    document.getElementById('toggle').addEventListener('click', function() {
        // axios.get('{% url "admins:toggle_user_status" pk=user.user.pk %}')
        axios.post('{% url "admins:toggle_user_status" pk=user.user.pk %}')  // Replace with the actual URL of your toggle action
        .then(function(response) {
            if (response.data.success) {
                // Toggle the button text based on the response
                toggleButtonText();
            } else {
                alert('Toggle action failed.');
            }
            })
        .catch(function(error) {
            console.error('An error occurred:', error);
        });
    });

    

</script>

{% endblock %}