
{% extends 'base/base.html' %}

{% load static %}

{% block css %} 

<link rel="stylesheet" href="{% static 'css/base1.css' %}">
<link rel="stylesheet" href="{% static 'css/adminnav.css' %}">
<style>
    .custom_style{
        color:white;
        box-shadow: none !important;
        
    }

    input.custom_style{
        color:white;
    }

    input.custom_style:focus {
        color:white;
        border:none!important;
        outline: none;
        border-bottom: 1px solid white !important;
    }
</style>

{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row p-0">
        {% include 'base/adminnav.html' with page='user' %}
        <div class="col-lg-8  ms-lg-5 ms-0 bodysection">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        {% include 'base/admin_top_nav.html' %}

                    </div>
                </div>
            </div>
            <div class="table-responsive bg-dark my-5 p-4 rounded-2">
                <form method="get" class="d-flex justify-content-end">
                    <input type="search" placeholder="search" class="custom_style text-light border-0 bg-transparent border-bottom border-light" name="search" >
                    <button type="submit" class="custom_style border-0 bg-transparent border-bottom border-light">
                        <i class="fa-solid fa-search text-light"></i>
                    </button>
                </form>
                <table class="table table-dark table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">FULL NAME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">DETAILS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ele in users %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ ele.user.first_name }} {{ ele.user.last_name }}</td>
                            <td>{{ ele.email }}</td>
                            <td>
                                <a class="btn btn-light" href="{% url 'admins:userdetail' pk=ele.user.pk %}">SHOW MORE</a>
                            </td>
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
<script src="{% static 'js/adminnav.js' %}"></script>

{% endblock %}